# http://editorconfig.org

# From the Django .editorconfig: https://github.com/django/django/blob/master/.editorconfig

root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

# Use 2 spaces for the HTML files
[*.html]
indent_size = 2

# The JSON files contain newlines inconsistently
[*.json]
indent_size = 2
insert_final_newline = ignore

[**/admin/js/vendor/**]
indent_style = ignore
indent_size = ignore

# Minified JavaScript files shouldn't be changed
[**.min.js]
indent_style = ignore
insert_final_newline = ignore

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab

# Batch files use tabs for indentation
[*.bat]
indent_style = tab

# Custom settings for CSS

# Use 2 spaces for SCSS files
[*.scss]
indent_size = 2

# Compiled CSS files shouldn't be changed
[*.css]
indent_style = ignore
insert_final_newline = ignore

# From the Angular2 .editorconfig: https://github.com/angular/angular/blob/master/.editorconfig

# Use 2 spaces for TypeScript files
[*.ts]
indent_size = 2

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
