[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleach = "~=3.1"
chardet = "==3.0.4"
django-braces = "~=1.13"
django-ckeditor = "~=5.8"
django-cors-middleware = "~=1.5.0"
django-debug-toolbar = "~=2.1"
django-filter = "~=2.2.0"
django-mptt = "~=0.10.0"
django-rest-swagger = "~=2.2"
django-settings-export = "==1.2.1"
django-taggit = "~=1.2.0"
django-taggit-serializer = "~=0.1"
djangorestframework = "~=3.11.0"
"html5lib" = "==1.0.1"
regex = "~=2019.12.9"
requests-oauthlib = "~=1.2.0"
six = "==1.13.0"
sqlparse = "~=0.2"
Django = "~=3.0"
PyYAML = "~=5.1.2"
fabric = "*"

[dev-packages]

[pipenv]
allow_prereleases = true
