.status-widget {
  border: 1px solid #999;
  margin-bottom: 10px;
  padding: 6px;
}
.status-widget .heading {
  font-weight: bold;
}
.status-widget .none {
  color: #999;
}

.history {
  border: 1px solid #999;
  height: 400px;
  overflow-y: auto;
  padding: 12px;
}

.history .history-command {
  color: #009;
  font-weight: bold;
}

.command-prompt {
  padding-top: 12px;
}

.friendly {
  color: green;
}
.hostile {
  color: red;
}

.artifact-contents {
  padding-left: 15px;
}
