<div *ngIf="game?.rooms?.current_room">

  <div class="status-widget player">
    <p class="heading">{{ game.monsters.player.name }}</p>

    <div class="stats">
      <span class="hardiness">HD: {{game.monsters.player.hardiness}}</span>
      <span class="agility">AG: <span [class.success]="game.monsters.player.speed_multiplier > 1">{{game.monsters.player.agility * game.monsters.player.speed_multiplier}}</span></span>
      <span class="charisma">CH: {{game.monsters.player.charisma}}</span>
    </div>

    <div class="health">
      HP: {{ game.monsters.player.hardiness - game.monsters.player.damage }}/{{ game.monsters.player.hardiness }}
    </div>

    <div class="weapon" *ngIf="game.monsters.player.weapon">Ready weapon: {{game.monsters.player.weapon.name}}
     ({{game.monsters.player.weapon.dice}}d{{game.monsters.player.weapon.sides}})</div>
    <div class="weapon none" *ngIf="!game.monsters.player.weapon">Ready weapon: none!</div>

    <div class="armor" *ngIf="game.monsters.player.armor_strength">Armor:
      <span *ngFor="#armor of game.monsters.player.armor_worn; #isLast=last">{{armor.name}}{{isLast ? '' : ' and '}}</span>
    ({{game.monsters.player.armor_strength}})</div>
    <div class="armor none" *ngIf="!game.monsters.player.armor_strength">Armor: none!</div>

  </div>

  <div class="status-widget room">
    <p class="room-name">Current Location: {{ game.rooms.current_room.name }}</p>
    <p class="room-description">{{ game.rooms.current_room.description }}</p>
    <div class="room-exits">Visible Exits:
      <span *ngFor="#exit of game.rooms.current_room.exits">{{ exit.direction }} </span>
    </div>
  </div>

  <div class="status-widget monsters">
    <p class="heading">Who's here:</p>
    <div class="monsters-list">
      <span *ngFor="#monster of game.monsters.visible">
        <span class="monster"
          [class.friendly]="monster.reaction == 'friend'"
          [class.hostile]="monster.reaction == 'hostile'"
          >{{ monster.name }} - {{monster.reaction}}</span><br />
      </span>
      <span class="monster none" *ngIf="game.monsters.visible.length == 0">no one<br /></span>
    </div>
  </div>

  <div class="status-widget artifacts">
    <p class="heading">What's around:</p>
    <div class="artifacts-list">
      <div class="artifact" *ngFor="#artifact of game.artifacts.visible">{{ artifact.name }}
        <div class="artifact-contents" *ngFor="#content of artifact.contents">{{ content.name }}</div>
      </div>
      <span class="artifact none" *ngIf="game.artifacts.visible.length == 0">nothing<br /></span>
    </div>
  </div>

  <div class="status-widget inventory">
    <p class="heading">You are carrying:</p>
    <div class="artifacts-list" *ngIf="game?.monsters?.player?.inventory">
      <span class="artifact" *ngFor="#artifact of game.monsters.player.inventory">{{ artifact.name }}
        <span class="lit" *ngIf="artifact.is_lit">(lit)</span>
        <span class="worn" *ngIf="artifact.is_worn">(wearing)</span>
        <span class="ready" *ngIf="artifact.id == game.monsters.player.weapon_id">(ready weapon)</span>
        <br />
      </span>
      <span class="artifact none" *ngIf="game.monsters.player.inventory.length == 0">nothing<br /></span>
    </div>
    <p class="weight">Weight carried: {{game.monsters.player.weight_carried}}</p>
  </div>
</div>
