<div class="container" *ngIf="game">
  <h1>{{game.name}}</h1>

  <div class="row" *ngIf="game?.player && !game?.started">
    <div class="intro col-sm-offset-1 col-sm-10 parchment">
      <p [innerHtml]="game?.intro_text[game?.intro_index] | gamevars | nl2br"></p>
      <p class="intro-next" *ngIf="game.intro_index < game.intro_text.length - 1">
        <button class="btn btn-success" id="intro-next" (click)="intro_next()">Next</button>
      </p>
      <p class="intro-question" *ngIf="game.intro_question && game.intro_index === game.intro_text.length - 1">
        {{game.intro_question}}
        <input type="text" [(ngModel)]="game.intro_answer">
      </p>
      <div class="intro-confirm" *ngIf="game.intro_index === game.intro_text.length - 1">
        <p><button class="btn btn-success" id="return" (click)="game.start()">Start Adventure</button></p>
      </div>
    </div>
    </div>

  <div class="game row" *ngIf="game?.started && !game.selling">
      <div class="command col-md-7 parchment" *ngIf="!game.selling">
        <history [history]="game?.history"></history>
        <div *ngIf="!game?.modal?.visible">
          <command-prompt [game]="game"></command-prompt>
          <div class="hints-command-list">
            <ng-template #welcomeModal let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h3>Welcome to Eamon!</h3>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div *ngIf="game.demo">
                  <p>You are playing as the demo character. You can explore the adventure as normal, but you won't be able to save your progress or keep any items or treasure you collect after you exit the adventure.</p>
                  <p>You can create your own character later from the Main Hall if you want to keep your items and take them on future adventures.</p>
                </div>
                <p>Eamon takes a simple set of adventuring commands, like:</p>
                <ul>
                  <li>'n' (north), 's' (south), etc. to move</li>
                  <li>'get sword' (or 'get all' to pick up everything)</li>
                  <li>'ready sword'</li>
                  <li>'wear chain mail'</li>
                  <li>'attack orc'</li>
                  <li>'open chest'</li>
                  <li>'remove jewels from chest'</li>
                  <li>'look wall' or 'examine bookshelf' to search for hidden items and secret passages</li>
                  <li>'give key to eddie'</li>
                  <li>To cast spells, just type the spell name: 'blast', 'heal', 'power', or 'speed'</li>
                  <li>and so on...</li>
                </ul>
                <p>Eamon also supports partial word matches to save typing. e.g., 'at dra' is the same as 'attack dragon'.</p>
                <p>Hit enter to repeat the last command, or use the up and down arrows to recall previous commands.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="c('Close click')">OK, got it. Bring on the monsters!</button>
              </div>
            </ng-template>

            <button type="button" class="btn btn-default" (click)="open(welcomeModal)">
              How to Play
            </button>
            <hints [game]="game"></hints>
            <command-list [game]="game"></command-list>
          </div>
        </div>

      <div class="game-modal" *ngIf="game?.modal?.visible">
        <p>{{game.modal?.current_question?.question}}</p>
        <div class="modal-text" *ngIf="game.modal?.current_question?.type == 'text'">
          <p><input type="text" [(ngModel)]="game.modal.current_question.answer"></p>
          <p><button class="btn btn-success" id="return" (click)="game.modal.submit()">Go</button></p>
        </div>
        <div class="modal-multiple" *ngIf="game.modal?.current_question?.type == 'multiple_choice'">
          <p><span *ngFor="let c of game?.modal?.current_question?.choices"><button class="btn btn-primary" (click)="game.modal.submit(c)">{{ c }}</button></span></p>
        </div>
      </div>

    </div>
    <div class="status d-none d-md-block col-md-5">
      <status [game]="game"></status>
    </div>
  </div>

  <div class="row" *ngIf="game.selling">
    <div class="command col-sm-12 offset-md-1 col-md-10 parchment">
      <sell-items [game]="game"></sell-items>
    </div>
  </div>
</div>
