<ng-template #commandList let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3>Availabile Commands</h3>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body row">
    <div class="command-list-item col-sm-3" *ngFor="let cmd of keys">
      {{ cmd }}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button type="button" class="btn btn-default" (click)="open(commandList)">
  List Commands
</button>
