<ng-template #hintModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3>{{ game.title }} Hints</h3>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="hint" *ngFor="let h of game.hints?.all">
        <p (click)="showAnswer(h)">
          <span *ngIf="!h.is_open">+</span>
          <span *ngIf="h.is_open">-</span>
          <strong>{{ h.question }}</strong></p>
        <div class="hint-answers" *ngIf="h.is_open">
          <p class="hint-answer">
            {{ h.answers[h.current_index]?.answer }}
          </p>
          <div class="hint-next-prev" *ngIf="h.answers.length > 1">
            <a (click)="prevAnswer(h)">prev</a>
            <a (click)="nextAnswer(h)">next</a>
          </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button type="button" class="btn btn-default" (click)="open(hintModal)">
  Hints
</button>
