<div *ngIf="game?.rooms?.current_room">

  <div class="status-widget player">
    <div class="container">
      <div class="row">
        <p class="heading">{{ game.player.name }}</p>
      </div>

      <div class="stats row">
        <div class="hardiness col-sm-2">HD: {{ game.player.hardiness }}</div>
        <div class="agility col-sm-2">AG: <span
            [class.success]="game.player.speed_multiplier > 1">{{ game.player.agility * game.player.speed_multiplier}}</span></div>
        <div class="charisma col-sm-2">CH: {{ game.player.charisma }}</div>
        <div class="charisma col-sm-5 text-right">HP: {{ game.player.hardiness - game.player.damage }}/{{ game.player.hardiness }}</div>
      </div>

      <div class="weapon-abilities row">
        <div class="axe col-sm-2">Axe: {{ game.player.weapon_abilities[1]}}%</div>
        <div class="bow col-sm-2">Bow: {{ game.player.weapon_abilities[2]}}%</div>
        <div class="club col-sm-2">Club: {{ game.player.weapon_abilities[3]}}%</div>
        <div class="spear col-sm-2">Spear: {{ game.player.weapon_abilities[4]}}%</div>
        <div class="sword col-sm-2">Sword: {{ game.player.weapon_abilities[5]}}%</div>
      </div>

      <div class="ae row">Armor expertise: {{ game.player.armor_expertise }}%</div>

      <div class="weapon row" *ngIf="game.player.weapon">Ready weapon: {{ game.player.weapon.name|titlecase }}
        ({{ game.player.weapon.dice }}d{{ game.player.weapon.sides }})
      </div>
      <div class="weapon none row" *ngIf="!game.player.weapon">Ready weapon: none!</div>

      <div class="armor row" *ngIf="game.player.armor_class">Armor:&nbsp;
        <span
            *ngFor="let armor of game.player.armor_worn; let isLast=last">{{ armor.name|titlecase }}{{ isLast ? '' : ' and&nbsp;'}}</span>
        &nbsp;({{ game.player.armor_class }})
      </div>
      <div class="armor none row" *ngIf="!game.player.armor_class">Armor: none!</div>

    </div>
  </div>

  <div class="status-widget room">
    <p class="room-name" (click)="toggleDesc()">Current Location: {{ game.rooms.current_room.name }}</p>
    <p class="room-description" [class.hidden]="hiddenDesc">{{ game.rooms.current_room.description }}</p>
    <div class="room-exits">Visible Exits:
      <span *ngFor="let exit of game.rooms.current_room.exits">{{ exit.direction }} </span>
    </div>
  </div>

  <div class="status-widget monsters">
    <p class="heading">Who's here:</p>
    <div class="monsters-list">
      <span *ngFor="let monster of game.monsters.visible">
        <span class="monster"
              [class.friendly]="monster.reaction == 'friend'"
              [class.hostile]="monster.reaction == 'hostile'"
        >
            <span *ngIf="monster.count > 1">{{ monster.count }} {{ monster.name }}s</span>
            <span *ngIf="monster.count == 1">{{ monster.name }}</span>
            - {{ monster.reaction }}</span><br/>
      </span>
      <span class="monster none" *ngIf="game.monsters.visible.length == 0">no one<br/></span>
    </div>
  </div>

  <div class="status-widget artifacts">
    <p class="heading">What's around:</p>
    <div class="artifacts-list">
      <div class="artifact" *ngFor="let artifact of game.artifacts.visible">
        <artifact [game]="game" [artifact]="artifact"></artifact>
      </div>
      <span class="artifact none" *ngIf="game.artifacts.visible.length == 0">nothing<br/></span>
    </div>
  </div>

  <div class="status-widget inventory">
    <p class="heading">You are carrying:</p>
    <div class="artifacts-list" *ngIf="game?.player?.inventory">
      <div class="artifact" *ngFor="let artifact of game.player.inventory">
        <artifact [game]="game" [artifact]="artifact"></artifact>
      </div>
      <span class="artifact none" *ngIf="game.player.inventory.length == 0">nothing<br/></span>
    </div>
    <p class="weight">Weight carried: {{ game.player.weight_carried }}/{{ game.player.hardiness * 10 }}</p>
    <p class="gold">Gold: {{ game.player.gold }}</p>
  </div>
</div>
