@import url(https://fonts.googleapis.com/css?family=Mirza:400,500,700&subset=latin,latin-ext);
body {
  background-image: url(/static/images/sf_dustywall02.jpg);
  font-family: 'Mirza', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2; }

h1 {
  font-size: 44px;
  margin-top: 15px;
  margin-bottom: 15px; }

h2 {
  margin-top: 10px; }
  h2 img {
    width: 64px;
    height: 64px; }

.parchment {
  background-image: url(/static/images/parchment_alpha.png);
  background-size: 100% 100%;
  padding: 40px 60px; }

.page-border {
  background-image: url(/static/images/sf_dustywall02_border.jpg);
  background-repeat: repeat-x;
  height: 48px; }

.status {
  margin: 25px 0; }

.status-widget {
  background-color: #dc9;
  border: 3px dotted #b97;
  border-radius: 5px;
  box-shadow: inset 0 -1px 0 0 #b97, inset 0 1px 0 0 #b97, 0 1px 0 0 #b97, 0 -1px 0 0 #b97, inset -1px 0 0 0 #b97, inset 1px 0 0 0 #b97, 1px 0 0 0 #b97, -1px 0 0 0 #b97;
  margin-bottom: 1px;
  margin-bottom: 10px;
  padding: 6px; }
  .status-widget .heading {
    font-weight: bold; }
  .status-widget .none {
    color: #666; }
  .status-widget .stats {
    margin-bottom: 5px; }
    .status-widget .stats div {
      padding-right: 0;
      padding-left: 0; }
  .status-widget .spell-abilities, .status-widget .weapon-abilities {
    margin-bottom: 10px; }
  .status-widget .table > tbody + tbody {
    border-top: 1px solid #999; }
  .status-widget .table > tbody > tr > td, .status-widget .table > tbody > tr > th, .status-widget .table > tfoot > tr > td, .status-widget .table > tfoot > tr > th, .status-widget .table > thead > tr > td, .status-widget .table > thead > tr > th {
    border-top: none; }
  .status-widget .artifact-contents {
    padding-left: 15px; }

.artifacts-list th {
  border-top: none; }

.artifacts-list .weapon-icon img {
  width: 32px; }

.history {
  height: 480px;
  overflow-y: auto;
  margin: 20px 5px 0; }
  .history p {
    margin: 10px 0 0; }
    .history p.no-space {
      margin-top: 0; }
  .history .history-command {
    color: #009;
    font-weight: bold; }

command-prompt .form-inline .form-control {
  vertical-align: baseline; }

command-prompt .form-control {
  font-size: 20px; }

.hints-command-list {
  margin-top: 20px; }

.btn {
  font-size: 20px; }

.emphasis {
  font-weight: bold; }

.special {
  color: dodgerblue;
  font-weight: bold; }

.special2 {
  color: darkviolet;
  font-weight: bold; }

.success {
  color: green;
  font-weight: bold; }

.warning {
  color: #e60;
  font-weight: bold; }

.danger {
  color: red;
  font-weight: bold; }

.command-prompt {
  padding-top: 12px;
  width: 100%; }
  .command-prompt .form-control {
    width: 69%; }

.friendly {
  color: green; }

.hostile {
  color: red; }

.hints span {
  font-size: 12px; }

.icon-nav p {
  text-align: center; }
  .icon-nav p a img {
    width: 96px; }

.player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px; }
  .player .name {
    flex-grow: 1; }
  .player .glyphicon {
    font-size: 12px; }

.adventure-list-item {
  min-height: 250px; }
