@import url(https://fonts.googleapis.com/css?family=Mirza:400,500,700&subset=latin,latin-ext);
body {
  background-image: url(/static/images/sf_dustywall02.jpg);
  font-family: 'Mirza', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2; }

h1 {
  font-size: 44px;
  margin-top: 15px;
  margin-bottom: 15px; }

h2 {
  margin-top: 10px; }

.container {
  background-image: url(/static/images/parchment_alpha.png);
  background-size: 100% 100%;
  padding: 40px 60px; }

.page-border {
  background-image: url(/static/images/sf_dustywall02_border.jpg);
  background-repeat: repeat-x;
  height: 48px; }

.status-widget {
  border: 1px solid #999;
  margin-bottom: 10px;
  padding: 6px; }
  .status-widget .heading {
    font-weight: bold; }
  .status-widget .none {
    color: #666; }
  .status-widget .artifacts-list th {
    border-top: none; }
  .status-widget .table > tbody + tbody {
    border-top: 1px solid #999; }
  .status-widget .table > tbody > tr > td, .status-widget .table > tbody > tr > th, .status-widget .table > tfoot > tr > td, .status-widget .table > tfoot > tr > th, .status-widget .table > thead > tr > td, .status-widget .table > thead > tr > th {
    border-top: none; }
  .status-widget .artifact-contents {
    padding-left: 15px; }

.history {
  border: 1px solid #999;
  height: 500px;
  overflow-y: auto;
  padding: 12px; }
  .history p {
    margin: 10px 0 0; }
    .history p.no-space {
      margin-top: 0; }
  .history .history-command {
    color: #009;
    font-weight: bold; }

command-prompt .form-inline .form-control {
  vertical-align: baseline; }

command-prompt .form-control {
  font-size: 20px; }

.btn {
  font-size: 20px; }

.special {
  color: dodgerblue;
  font-weight: bold; }

.success {
  color: green;
  font-weight: bold; }

.warning {
  color: orange;
  font-weight: bold; }

.danger {
  color: red;
  font-weight: bold; }

.command-prompt {
  padding-top: 12px;
  width: 100%; }
  .command-prompt .form-control {
    width: 69%; }

.friendly {
  color: green; }

.hostile {
  color: red; }

.icon-nav p {
  text-align: center; }
  .icon-nav p a img {
    width: 96px; }
