<div class="artifact-tile-inner">
  <div class="artifact-icon">
    <img src="/static/images/ravenmore/128/map.png" title="{{ saved_game.description }}">
  </div>
  <div class="artifact-name">
    <strong>{{ saved_game.adventure.name }}</strong>
  </div>
  <div class="artifact-data">
    <p>Save #{{ saved_game.slot }}: {{ saved_game.description }}</p>
  </div>
  <div class="artifact-buttons">
    <button class="btn btn-primary" (click)="loadSavedGame(saved_game)">Resume</button>
    <button class="btn btn-warning" (click)="deleteSavedGame(saved_game)">Delete</button>
  </div>
  <div class="message" *ngIf="saved_game.messageState == 'visible'" [@messageAnimation]="saved_game.messageState">
    {{ saved_game.message }}
  </div>
</div>
