  <h2><img src="/static/images/ravenmore/128/axe2.png">Marcos Cavielli's Weapons and Armour Shoppe</h2>
  <div *ngIf="action == ''">
    <p>As you enter the weapon shop, Marcos Cavielli (the owner) comes from out of the back room and says, &quot;Well, as I live and breathe, if it isn't my old pal, {{_playerService.player?.name}}!&quot;</p>
    <p>So, what do you need?</p>
    <button class="btn btn-default" (click)="action = 'buy'">Buy weapons and armor</button>
    <button class="btn btn-default" (click)="action = 'sell'">Sell weapons and armor</button>
    <button class="btn btn-default" (click)="gotoDetail()">Go back to Main Hall</button>
  </div>

  <div *ngIf="action == 'buy'">
    <p>I just happen to have the following weapons and armor in stock:</p>
    <p>You have {{_playerService.player?.gold}} gold pieces.</p>
    <p class="heading">Weapons:</p>
    <div class="container-fluid">
      <div class="row">
        <artifact-tile *ngFor="let artifact of weapons" [artifact]="artifact" [action]="action" class="col-sm-6 col-md-4 col-lg-3"></artifact-tile>
      </div>
    </div>

    <p class="heading">Armor and Shields:</p>
    <div class="container-fluid">
      <div class="row">
        <artifact-tile *ngFor="let artifact of armors" [artifact]="artifact" [action]="action" class="col-sm-6 col-md-4 col-lg-3"></artifact-tile>
      </div>
    </div>
    <button class="btn btn-default" (click)="action = ''">Done</button>
  </div>

  <div *ngIf="action == 'sell'">
    <p>What do you want to sell?</p>
    <p>You have {{_playerService.player?.gold}} gold pieces.</p>
    <div class="container-fluid">
      <div class="row">
        <artifact-tile *ngFor="let artifact of _playerService.player?.inventory" [artifact]="artifact"
                       [action]="action" [@sellAnimation]="artifact.type" class="col-sm-6 col-md-4 col-lg-3"></artifact-tile>
      </div>
    </div>

    <button class="btn btn-default" (click)="action = ''">Done</button>
  </div>
