  <h2><img src="/static/images/ravenmore/128/axe2.png">Marcos Cavielli's Weapons and Armour Shoppe</h2>
  <div *ngIf="action == ''">
    <p>As you enter the weapon shop, Marcos Cavielli (the owner) comes from out of the back room and says, &quot;Well, as I live and breathe, if it isn't my old pal, {{_playerService.player?.name}}!&quot;</p>
    <p>So, what do you need?</p>
    <button class="btn btn-default" (click)="action = 'buy'">Buy weapons and armor</button>
    <button class="btn btn-default" (click)="action = 'sell'">Sell weapons and armor</button>
    <button class="btn btn-default" (click)="gotoDetail()">Go back to Main Hall</button>
  </div>

  <div *ngIf="action == 'buy'">
    <p>I just happen to have the following weapons and armor in stock:</p>
    <p>You have {{_playerService.player?.gold}} gold pieces.</p>
    <p class="heading">Weapons:</p>
    <div class="row">
      <div class="artifacts-tile col-sm-4 col-md-3 col-lg-2" *ngFor="let artifact of weapons">
        <div class="artifacts-tile-inner">
          <div class="weapon-icon">
            <img src="/static/images/ravenmore/128/{{ artifact.getIcon() }}.png"
                                     title="{{ artifact.getTypeName() }}">
          </div>
          <strong>{{ artifact.name|titlecase }}</strong><br />
          Odds: {{ artifact.weapon_odds }}%<br />
          Damage: {{ artifact.dice }} d {{ artifact.sides }}<br />
          {{ artifact.value }} gp<br />
          <button class="btn btn-primary" (click)="buy(artifact)"
                  *ngIf="_playerService.player && artifact.value <= _playerService.player.gold">Buy</button>
          <button class="btn disabled"
                  *ngIf="_playerService.player && artifact.value > _playerService.player.gold">Not enough gold</button>
          <div class="message" [@messageAnimation]="artifact.messageState">
            {{ artifact.message }}
          </div>
        </div>
      </div>
    </div>

    <p class="heading">Armor and Shields:</p>
    <div class="row">
      <div class="artifacts-tile col-sm-4 col-md-3 col-lg-2" *ngFor="let artifact of armors">
        <div class="artifacts-tile-inner">
          <div class="weapon-icon">
            <img src="/static/images/ravenmore/128/{{ artifact.getIcon() }}.png"
                                     title="{{ artifact.getTypeName() }}">
          </div>
          <strong>{{ artifact.name|titlecase }}</strong><br />
          AC: {{ artifact.armor_class }}<br />
          Penalty: {{ artifact.armor_penalty }}%<br />
          {{ artifact.value }} gp<br />
          <button class="btn btn-primary" (click)="buy(artifact)"
                  *ngIf="_playerService.player && artifact.value <= _playerService.player.gold">Buy</button>
          <button class="btn disabled"
                  *ngIf="_playerService.player && artifact.value > _playerService.player.gold">Not enough gold</button>
          <div class="message" [@messageAnimation]="artifact.messageState">
            {{ artifact.message }}
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-default" (click)="action = ''">Done</button>
  </div>

  <div *ngIf="action == 'sell'">
    <p>What do you want to sell?</p>
    <p>You have {{_playerService.player?.gold}} gold pieces.</p>
    <div class="row">
      <div class="artifacts-tile col-sm-4 col-md-3 col-lg-2" *ngFor="let artifact of _playerService.player?.inventory"
          [@sellAnimation]="artifact.type">
        <div class="artifacts-tile-inner">
          <div class="weapon-icon">
            <img src="/static/images/ravenmore/128/{{ artifact.getIcon() }}.png"
                                     title="{{ artifact.getTypeName() }}">
          </div>
          <strong>{{ artifact.name|titlecase }}</strong><br />
          <div *ngIf="artifact.type === 2 || artifact.type === 3">
            Odds: {{ artifact.weapon_odds }}%<br />
            Damage: {{ artifact.dice }} d {{ artifact.sides }}<br />
          </div>
          <div *ngIf="artifact.type === 11">
            AC: {{ artifact.armor_class }}<br />
            Penalty: {{ artifact.armor_penalty }}%<br />
          </div>
          {{ artifact.value | divide:2 }} gp<br />
          <button class="btn btn-primary" [ngClass]="{'disabled': artifact.salePending}" (click)="sell(artifact)">Sell</button>
          <div class="message" [@messageAnimation]="artifact.messageState">
            {{ artifact.message }}
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-default" (click)="action = ''">Done</button>
  </div>
