<h2><img src="/static/images/ravenmore/128/tome.png">Hokas Tokas' School of Magick</h2>
  <p>After a few minutes of diligent searching, you find Hokas Tokas, the old Mage. He looks at you and says, &quot;So you want old Hokey to teach you some magic, eh? Well, it'll cost you. Here are the spells I teach. Which will it be?&quot;</p>
  <table class="table spells-list" *ngIf="!message && !error">
    <tr>
      <th>Spell</th>
      <th>Current Ability</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let spell of spells">
      <td><strong>{{ spell.name | titleCase }}</strong><br />
        <span class="small">{{ spell.description }}</span></td>
      <td>{{ _playerService.player?.spell_abilities_original[spell.name] | percentOrNone }}</td>
      <td><img src="/static/images/ravenmore/128/coin.png"> {{ spell.price }}</td>
      <td>
        <button class="btn btn-primary" (click)="buy(spell.name)" *ngIf="_playerService.player && !_playerService.player?.spell_abilities_original[spell.name] && spell.price <= _playerService.player.gold">Learn</button>
        <button class="btn btn-primary" (click)="buy(spell.name)" *ngIf="_playerService.player && _playerService.player?.spell_abilities_original[spell.name] && spell.price <= _playerService.player.gold">Upgrade</button>
        <button class="btn disabled" *ngIf="_playerService.player && spell.price > _playerService.player.gold">Not enough gold</button>
      </td>
    </tr>
  </table>
  <p>You have {{_playerService.player?.gold}} gold pieces.</p>
  <p>{{message}}</p>
  <p class="emphasis">{{error}}</p>
  <p>
    <button class="btn" (click)="gotoDetail()">Go back to Main Hall</button>
  </p>
