@import url(https://fonts.googleapis.com/css?family=Mirza:400,500,700&subset=latin,latin-ext);

body {
  background-image: url(/static/images/sf_dustywall02.jpg);
  font-family: 'Mirza', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
}

h1 {
  font-size: 44px;
  margin-top: 15px;
  margin-bottom: 15px;
}

h2 {
  margin-top: 10px;
}

.container {
  background-image: url(/static/images/parchment_alpha.png);
  background-size: 100% 100%;
  padding: 40px 60px;
}

.page-border {
  background-image: url(/static/images/sf_dustywall02_border.jpg);
  background-repeat: repeat-x;
  height: 48px;
}

.status-widget {
  border: 1px solid #999;
  margin-bottom: 10px;
  padding: 6px;

  .heading {
    font-weight: bold;
  }
  .none {
    color: #666;
  }

  .artifacts-list th {
    border-top: none;
  }
  .table>tbody+tbody {
    border-top: 1px solid #999;
  }
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none;
  }

  .artifact-contents {
    padding-left: 15px;
  }

}

.history {
  border: 1px solid #999;
  height: 500px;
  overflow-y: auto;
  padding: 12px;

  // by default, the history paragraphs have the white space at the top. (see also .no-space below.)
  p {
    margin: 10px 0 0;
    &.no-space {
      margin-top: 0;
    }
  }

  .history-command {
    color: #009;
    font-weight: bold;
  }
}

command-prompt {
  .form-inline .form-control {
    vertical-align: baseline;
  }
  .form-control {
    font-size: 20px;
  }
}

.btn {
  font-size: 20px;
}

.special {
  color: dodgerblue;
  font-weight: bold;
}
.success {
  color: green;
  font-weight: bold;
}
.warning {
  color: orange;
  font-weight: bold;
}
.danger {
  color: red;
  font-weight: bold;
}

.command-prompt {
  padding-top: 12px;
  width: 100%;

  .form-control {
    width: 69%;
  }
}

.friendly {
  color: green;
}
.hostile {
  color: red;
}
