.status-widget {
  border: 1px solid #999;
  margin-bottom: 10px;
  padding: 6px;

  .heading {
    font-weight: bold;
  }
  .none {
    color: #999;
  }

  .artifact-contents {
    padding-left: 15px;
  }

}

.history {
  border: 1px solid #999;
  height: 550px;
  overflow-y: auto;
  padding: 12px;

  // by default, the history paragraphs have the white space at the top. (see also .no-space below.)
  p {
    margin: 10px 0 0;
    &.no-space {
      margin-top: 0;
    }
  }

  .history-command {
    color: #009;
    font-weight: bold;
  }
}

.special {
  color: dodgerblue;
  font-weight: bold;
}
.success {
  color: green;
  font-weight: bold;
}
.warning {
  color: orange;
  font-weight: bold;
}
.danger {
  color: red;
  font-weight: bold;
}

.command-prompt {
  padding-top: 12px;
  width: 100%;

  .form-control {
    width: 69%;
  }
}

.friendly {
  color: green;
}
.hostile {
  color: red;
}
