@import url(https://fonts.googleapis.com/css?family=Mirza:400,500,700&subset=latin,latin-ext);

$status-border: #b97;

body {
  background-image: url(/static/images/sf_dustywall02.jpg);
  font-family: 'Mirza', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

h1 {
  font-size: 44px;
  margin-top: 15px;
  margin-bottom: 15px;
}

h2 {
  margin-top: 10px;
  // default size for the icon images in any heading
  img {
    width: 64px;
    height: 64px;
  }
}

.parchment {
  background-image: url(/static/images/parchment_alpha.png);
  background-size: 100% 100%;
  padding: 40px 60px;
}

.page-border {
  background-image: url(/static/images/sf_dustywall02_border.jpg);
  background-repeat: repeat-x;
  height: 48px;
}

.status {
  margin: 25px 0;
}

.status-widget {
  background-color: #dc9;
  // apply fancy border with "border" and "box-shadow"
	border: 3px dotted $status-border;
  border-radius: 5px;
	box-shadow: inset 0 -1px 0 0 $status-border, inset 0 1px 0 0 $status-border, 0 1px 0 0 $status-border, 0 -1px 0 0 $status-border, inset -1px 0 0 0 $status-border, inset 1px 0 0 0 $status-border, 1px 0 0 0 $status-border, -1px 0 0 0 $status-border;
	margin-bottom: 1px;
  margin-bottom: 10px;
  padding: 6px;

  .heading {
    font-weight: bold;
  }
  .none {
    color: #666;
  }

  .spell-abilities, .weapon-abilities {
    margin-bottom: 10px;
  }

  .artifacts-list {
    th {
      border-top: none;
    }
    .weapon-icon img {
      width: 32px;
    }
  }
  .table>tbody+tbody {
    border-top: 1px solid #999;
  }
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none;
  }

  .artifact-contents {
    padding-left: 15px;
  }

}

.history {
  height: 480px;
  overflow-y: auto;
  margin: 20px 5px 0;

  // by default, the history paragraphs have the white space at the top. (see also .no-space below.)
  p {
    margin: 10px 0 0;
    &.no-space {
      margin-top: 0;
    }
  }

  .history-command {
    color: #009;
    font-weight: bold;
  }
}

command-prompt {
  .form-inline .form-control {
    vertical-align: baseline;
  }
  .form-control {
    font-size: 20px;
  }
}

.btn {
  font-size: 20px;
}

.special {
  color: dodgerblue;
  font-weight: bold;
}
.success {
  color: green;
  font-weight: bold;
}
.warning {
  color: #e60;
  font-weight: bold;
}
.danger {
  color: red;
  font-weight: bold;
}

.command-prompt {
  padding-top: 12px;
  width: 100%;

  .form-control {
    width: 69%;
  }
}

.friendly {
  color: green;
}
.hostile {
  color: red;
}

.hints {
  span {
    font-size: 12px;
  }
}

// Main Hall

.icon-nav {
  p {
    text-align: center;
    a {
      img {
        width: 96px;
      }
    }
  }
}
.player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  .name {
    // this should fill up all available space. other divs in this box should not expand.
    flex-grow: 1;
  }
  .glyphicon {
    font-size: 12px;
  }
}
.adventure-list-item {
  min-height: 250px;
}