<div class="container-fluid d-none d-md-block">
  <div class="row">
    <div class="col-sm-10 offset-sm-1 text-center status-widget footer">
      <a href="{% url 'index' %}">Home</a> |
      <a href="{% url 'about' %}">About Eamon</a> |
      <a href="{% url 'news' %}">News</a> |
      <a href="{% url 'manual' %}">Manual</a> |
      <a href="{% url 'adventure-list' %}">Adventures</a> |
      <a href="https://github.com/kdechant/eamon" target="_blank">Source Code</a> |
      <a href="https://github.com/kdechant/eamon/issues" target="_blank">Report a bug</a> |
      <a href="https://www.kdechant.com" target="_blank">About the Author</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 offset-sm-3 text-center mb-2 subfooter">
      <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
    </div>
    <div class="col-sm-3 text-center mb-2 subfooter">
      <a href="http://dycha.net/" target="_blank">Icons by Ravenmore</a>
    </div>
  </div>
</div>
