{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{% endblock %}

{% block scripts %}

    <!-- 1. Load libraries -->
     <!-- Polyfill(s) for older browsers -->
    <script src="{% static "node_modules/core-js/client/shim.min.js" %}"></script>

    <script src="{% static "node_modules/zone.js/dist/zone.js" %}"></script>
    <script src="{% static "node_modules/reflect-metadata/Reflect.js" %}"></script>
    <script src="{% static "node_modules/systemjs/dist/system.src.js" %}"></script>

    <!-- 2. Configure SystemJS -->
    <script>
      var game_id = "{{ adventure_id }}";
      {% if request.GET.demo %}
      var demo = true;
      {% else %}
      var demo = false;
      {% endif %}
    </script>
    <script src="{% static 'core/systemjs.config.js' %}"></script>
    <script>
      Promise.all([
        System.import('core/main'),
        System.import('adventure/commands'),
        System.import('adventure/event-handlers')
      ]).then(null, console.error.bind(console));
    </script>

{% endblock %}

{% block heading %}
{% endblock %}

{% block content %}

    <adventure>Waking up the monsters...</adventure>

{% endblock %}
