{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block scripts %}
  <script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
  <script src="{% static 'js/polyfills.js' %}"></script>
{% endblock %}

{% block heading %}
{% endblock %}

{% block content %}

    <div id="root"></div>

{% endblock %}

{% block endscripts %}
  {% with adventure_root="adventures/" %}
    <script type="text/javascript" src="{% static adventure_root|add:slug|add:".js" %}"></script>

    <script type="text/javascript">
      var game = window['adventures/{{ slug }}'].game;

      game.slug = "{{ slug }}";
      {% if request.GET.demo %}
        game.demo = true;
      {% else %}
        game.demo = false;
      {% endif %}
    </script>

    <script type="text/javascript" src="{% static "core.js" %}"></script>
  {% endwith %}
{% endblock %}

