{% extends "base.html" %}
{% load static %}

{% block title %}Adventure List{% endblock %}

{% block content %}

<div class="container">
  <div class="parchment">
    <div class="parchment-inner">
      <h2><img src="{% static "images/ravenmore/128/map.png" %}" alt="Map" /> Adventures</h2>
      <p>Eamon contains many different adventures of many different styles. Some are fantasy or sci-fi, contain a quest or just hack-and-slash. Some are aimed at beginners and others are for veteran adventurers only. Choose your fate and perish (or profit)...</p>
      <div class="adventure-list margin-bottom-lg">
        {% for adv in adventures %}
        <div class="adventure-list-item">
          <div class="row">
            <div class="col-3 col-md-2"><img src="/static/images/ravenmore/128/map.png" width="64" aria-hidden="true" /></div>
            <div class="col-9 col-md-10">
              <h3>{{ adv.name }}</h3>
              {% if adv.authors %}
              <p>By: {{ adv.authors.all|join:", " }}</p>
              {% endif %}
            </div>
          </div>
          <p class="desc">{{ adv.description }}</p>
          <p><a class="btn btn-primary" href="/adventure/{{ adv.slug }}?demo=1">Play</a></p>
          <div class="tags">
            {% for tagname in adv.tags.names %}
            <div class="tag">{{ tagname }}</div>
            {% endfor %}
          </div>
          <div class="clearfix"></div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
