{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{% endblock %}

{% block scripts %}
{% endblock %}

{% block heading %}
{% endblock %}

{% block content %}

    <adventure>Waking up the monsters...</adventure>

{% endblock %}

{% block endscripts %}
  {% with adventure_root="dist/adventures/" %}
    <script src="{% static "node_modules/lz-string/libs/lz-string.js" %}"></script>
    <script type="text/javascript" src="{% static "dist/core/runtime.js" %}"></script>
    <script type="text/javascript" src="{% static "dist/core/polyfills.js" %}"></script>
    <script type="text/javascript" src="{% static "dist/core/vendor.js" %}"></script>

    <script type="text/javascript">
      var game_id = "{{ adventure_id }}";
      {% if request.GET.demo %}
        var demo = true;
      {% else %}
        var demo = false;
      {% endif %}
    </script>

    <script type="text/javascript" src="{% static adventure_root|add:adventure_id|add:".js" %}"></script>

    <script type="text/javascript" src="{% static "dist/core/main.js" %}"></script>
  {% endwith %}
{% endblock %}

