{% load staticfiles %}
<!DOCTYPE html>
<html>

  <head>
    <title>The Angular World of Eamon</title>

    <base href="/">

    <!-- 1. Load libraries -->
     <!-- Polyfill(s) for older browsers -->
    <script src="{% static "node_modules/es6-shim/es6-shim.min.js" %}"></script>

    <script src="{% static "node_modules/zone.js/dist/zone.js" %}"></script>
    <script src="{% static "node_modules/reflect-metadata/Reflect.js" %}"></script>
    <script src="{% static "node_modules/systemjs/dist/system.src.js" %}"></script>

    <!-- 2. Configure SystemJS -->
    <script src="{% static 'main-hall/systemjs.config.js' %}"></script>
    <script>
      // NOTE: need to inject the demo adventure here to avoid errors when creating the Game object.
      Promise.all([
        System.import('main_hall/boot'),
        System.import('adventure/commands'),
        System.import('adventure/event-handlers')
      ]).then(null, console.error.bind(console));
    </script>

    <link rel="stylesheet" href="{% static "vendor/bootstrap-3.3.6-dist/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "vendor/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css" %}" />
    <!--<script src="{% static "vendor/bootstrap-3.3.6-dist/js/bootstrap.min.js" %}></script>-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  </head>

  <!-- 3. Display the application -->
  <body>
    <main-hall>Welcome to the Angular World of Eamon...</main-hall>
  </body>

</html>
