{% load staticfiles %}
<!DOCTYPE html>
<html>

  <head>
    <title>The Wonderful World of Eamon</title>
    <meta property="og:url" content="http://eamon.terranok.com" />
    <meta property="og:title" content="The Wonderful World of Eamon" />
    <meta property="og:description" content="Slaying dragons and saving princesses for fun and profit! A web-based version of the classic fantasy text adventure game." />
    <meta property="og:image" content="http://eamon.terranok.com/static/images/Eamon_dragon_facebook.png" />

    <base href="/">

    <link rel="stylesheet" href="{% static "vendor/bootstrap-3.3.6-dist/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "vendor/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css" %}" />
    <!--<script src="{% static "vendor/bootstrap-3.3.6-dist/js/bootstrap.min.js" %}></script>-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  </head>

  <!-- 3. Display the application -->
  <body>
    <div class="page-border">&nbsp;</div>

    <div class="container parchment wide">
      <div class="row">
        <div class="col-sm-6">
          <h2>Welcome to EAMON!</h2>
          <p class="lead">Computerized fantasy role-playing system. Looting dungeons and slaying dragons for fun and profit!<p>
          <p class="addplayer"><a href="{% url 'main-hall' %}"><img src="/static/images/ravenmore/128/map.png"> Enter the Main Hall</a></p>
          <p><small>Based on the Eamon Adventure Series, written by Donald Brown for the Apple ][, and on Eamon Deluxe by Frank Black.</small></p>
        </div>
        <div class="col-sm-6 text-center">
          <img src="/static/images/Eamon_dragon_NEUC.png" width="375">
        </div>
      </div>
    </div>

    {% include "_footer.html" %}

    <div class="page-border">&nbsp;</div>
    {% include "_google_analytics.html" %}

  <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.13.0.js'><\/script>".replace("HOST", location.hostname));
//]]></script>

  </body>

</html>
