{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Main Hall{% endblock %}

{% block scripts %}
    <base href="/main-hall/">

{% endblock %}

{% block content %}

    <main-hall>Welcome to the Wonderful World of Eamon...</main-hall>

{% endblock %}

{% block endscripts %}
  <script type="text/javascript" src="{% static "dist/main-hall/runtime.js" %}"></script>
  <script type="text/javascript" src="{% static "dist/main-hall/polyfills.js" %}"></script>
  <script type="text/javascript" src="{% static "dist/main-hall/vendor.js" %}"></script>
  <script type="text/javascript" src="{% static "dist/main-hall/main.js" %}"></script>
{% endblock %}
