{% extends "base.html" %}
{% load static %}

{% block title %}Adventurer's Manual{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="parchment">
    <div class="parchment-inner">

      <h2><img src="{% static "images/ravenmore/128/tome.png" %}" alt="Spell book" /> Adventurer's Manual</h2>

      <p>Eamon is a combination of a text-based interactive fiction game (like Adventure, Zork, etc.) and a fantasy role-playing game. Players create a character, journey on various adventures, and interact with the game world using English-like commands. Players explore pre-mapped adventures, fighting vicious and often humorous foes, collecting loot, and locating keys, magic items, or other special objects which allow them to proceed on through the plot.</p>

      <h3>Basic Character Attributes</h3>

      <p>All new characters start at a beginning level, with a bit of gold and basic weapon knowledge. But, they are also a diverse group with different strengths and weaknesses. Three prime statistics (or "attributes") describe the general strengths and weaknesses of a newly created character. These are called <strong>Hardiness</strong>, <strong>Agility</strong> and <strong>Charisma</strong>. Characters may also learn several magic spells, and other skills like how to fight effectively while wearing heavy armor.</p>

      <p>While a character's combat and magic skills will increase with use, the three basic physical attributes cannot be changed through "natural" means. However, Eamon is a magical world, and ways may be found to increase (and sometimes decrease) a character's attributes in certain adventures.</p>

      <p>For the sake of example in the next few sections, it will be assumed that a new character named "Hedric the Horrible" has just been created, with a Hardiness of thirteen, an Agility of twenty and a Charisma of five.</p>

      <h4>HARDINESS</h4>

      <p>A character's Hardiness has two major effects. It determines the player's hit points, and how much the player can carry.</p>

      <p>The player's maximum hit points are the same as his or her hardiness. Hedric the Horrible, with his hardiness of 13, can take 13 points of damage.</p>

      <p>Weight of items ("artifacts") in Eamon is measured in units called "gronds." A smaller unit called the "do" is 1/10 of a grond, but this is seldom used in modern times. A player may carry artifacts weighing ten times his or her hardiness in gronds. So Hedric can carry weight of 130 gronds. This includes all his weapons and armor. For comparison, a sword might weigh 5 gronds, while a set of plate armor might weigh 30 gronds.</p>

      <h4>AGILITY</h4>

      <p>Agility is mostly a combat stat. A character with high agility is more likely to strike an opponent and also to dodge attacks from that opponent. Some adventures may use the character's Hardiness and/or Agility to determine other factors which are specific to that setting (like the chances of successfully opening a chest or avoiding a dangerous trap).</p>

      <h4>CHARISMA</h4>

      <p>Charisma is a combination of the character's physical attractiveness and personality. Charisma can often affect how the citizens and other beings on Planet Eamon will react to the character.</p>

      <p>For example, some merchants may offer slightly better prices to a likable character with a high Charisma than they will to a character with an average or low Charisma. While on an adventure, a character's Charisma also affects whether some creatures will choosing to attack, ignore, or become friends with the character. The more friends a character has in an adventure, the more help they have during battles.</p>

      <p>The actual percentage adjustment that Charisma has upon the decisions of others (or "Charisma Factor") is figured out by subtracting ten from the character's Charisma and then multiplying the difference by two.</p>

      <p>For example: The smelly hermit from the Beginner's Cave has a base friendliness of 50%. This means that Joe Normal with a charisma of ten will get to make friends with the hermit 50% of the time. However, Hedric the Horrible (with his Charisma of five), has only a 40% chance of making friends with the hermit. Lovable Linda, with a maximum charisma of twenty four has a 78% chance of making friends.</p>

      <ul>
        <li>Joe Normal: (10 - 10 = 0, 0 x 2 = 0). 50% + 0% = 50%.</li>
        <li>Hedric the Horrible: (5 - 10 = -5, -5 x 2 = -10). 50% + -10% = 40%.</li>
        <li>Lovable Linda: (24 - 10 = 14, 14 x 2 = 28). 50% + 28% = 78%.</li>
      </ul>

      <p>Many of the beings encountered on adventures, however, will have a pre-set friendliness factor and thus react the same regardless of your character's Charisma. A rat with a friendliness rating of 0% will never be a friend, be it with Joe Normal, Hedric the Horrible, or Lovable Linda; likewise, a fellow adventurer with a friendliness rating of 100% will always become a friend to your character.</p>

      <h3>Weapon Types and Character Weapon Abilities</h3>

      <p>Being a rough and violent world, combat is often an important aspect of Eamon. In most adventures, combat is taken care of on a blow-by-blow basis: Every combatant in the room gets one turn to attack one enemy, the effects of that attack are calculated, and the result (hit or miss) is applied.</p>

      <h4>Weapon abilities</h4>

      <p>Weapons are divided into several categories:</p>

      <ul>
        <li><strong>Axes</strong> and other &quot;chopping&quot; type weapons</li>
        <li><strong>Bows</strong> and projectile weapons (everything from a standard archery set to a machine gun)</li>
        <li><strong>Clubs</strong> and other blunt crushing weapons like maces, flails, and baseball bats</li>
        <li><strong>Spears</strong> and other polearm weapons like halberds</li>
        <li><strong>Swords</strong></li>
      </ul>

      <p>Additionally, some non-player characters and monsters may have &quot;natural weapons&quot; (claws, teeth, fire breath, poison ooze, etc.) or may have no weapon at all.</p>

      <p>Each player will have a different skill with each of the five weapon types. These skills increase when the player lands a successful hit, with the chances of an increase being greater with a lower chance of hitting. If Hedric the Horrible is wielding an axe, and has a 60% chance to hit, when he lands a successful blow, he has a 40% chance of gaining a 2% increase in his &quot;axe&quot; ability. The next round, his chance to hit would be 62%, and he would have a 38% chance to improve his ability by another 2%.<p>

      <p>Once Hedric's axe ability reaches 50% or higher, he will have less to learn about the art, and his abilities will only increase by 1% with a successful roll.</p>

      <h4>Armor Types and Armor Expertise</h4>

      <p>Eamon features several different types of armor: leather, chain, plate, and even some magic armors. Each provides a different amount of protection. The table below lists some common armor and shield types and the amount of protection provided by each.</p>

      <p>Armor and shields also have a penalty for the wearer. Armor is cumbersome, and wearing heavy armor can make it harder for the character to hit an opponent. This effect is called the Armor Penalty. This amount is subtracted from the player's To Hit chance.</p>

      <p>The Armor Penalty diminishes with practice. As the character becomes used to the constricting effects of fighting and maneuvering while wearing armor, the penalty is reduced. This stat is called Armor Expertise (AE). AE increases the same way that weapon abilities do. However, the maximum AE is equal to the total Armor Penalty of the armor and shield the player is using. For example, wearing leather armor without a shield, a character's AE will never increase above 10%. Wearing chain mail and carrying a shield, the player's AE may increase up to 25%.</p>

      <p>Once the player's AE is equal to (or higher than) the total Armor Penalty of the armor and shields the player is wearing, the Armor Penalty is removed entirely, and the armor has not effect on the chances to hit.</p>

      <p>In some cases, the player may have a higher AE than Armor Penalty. This never has a net increase to the player's chance to hit. For example, if a player with an AE of 60% wore scale armor with an Armor Penalty of 40%, the net effect of wearing armor is zero.</p>

      <p>The standard armor types and their combat penalties are:</p>

      <table class="table">
        <tr>
          <th>Type</th>
          <th>Hits Absorbed</th>
          <th>Armor Penalty <sup>1</sup></th>
        </tr>
        <tr>
          <td>None</td>
          <td>0</td>
          <td>0%</td>
        </tr>
        <tr>
          <td>Shield <sup>2</sup></td>
          <td>1</td>
          <td>5%</td>
        </tr>
        <tr>
          <td>Leather Armor</td>
          <td>1</td>
          <td>10%</td>
        </tr>
        <tr>
          <td>Chain Mail</td>
          <td>3</td>
          <td>20%</td>
        </tr>
        <tr>
          <td>Scale Armor</td>
          <td>4</td>
          <td>40%</td>
        </tr>
        <tr>
          <td>Plate Armor</td>
          <td>5</td>
          <td>60%</td>
        </tr>
        <tr>
          <td>Magic Armor</td>
          <td>varies</td>
          <td>varies</td>
        </tr>
      </table>

      <p><sup>1</sup> For a character with Armor Expertise of zero.</p>
      <p><sup>2</sup> A shield may be used in addition to armor, if the character is using a one-handed weapon. This means a character with plate armor and a shield would have protection from 6 hits, and would need an Armor Expertise of 65% to avoid the penalty.</p>

      <h3>Combat</h3>

      <h4>Attacking an opponent</h4>

      <p>When one character or monster attacks another, there are several factors that go into calculating the hit or miss:</p>

      <ul>
        <li>Attacker's agility</li>
        <li>Defender's agility</li>
        <li>Attacker's base to-hit odds <sup>2</sup></li>
        <li>Attacker's Weapon ability <sup>3</sup></li>
        <li>Weapon odds (if the attacker is using a weapon)</li>
        <li>Special defensive bonuses possessed by some monsters</li>
      </ul>

      <p><sup>2</sup> The player has a base to-hit of 25%, plus any weapon abilities.</p>
      <p><sup>3</sup> NPCs have the same ability with all weapon classes.</p>

      <p>Each individual weapon has its own odds adjustment, also known as &quot;weapon odds&quot; or &quot;weapon complexity&quot;. This number reflects the quality of the weapon and how hard it is to use properly. A magic bow may increase your chance to hit, while a poorly-made sword may decrease it.</p>

      <p>For example, the gorilla in the Beginner's Cave has an agility of 11 and a base to-hit of 50%. Joe Normal, with his agility of 12 and a club ability of 20%, would have a 47% chance to hit the gorilla, and the gorilla would have a 48% chance to hit Joe. Hedric the Horrible, with his agility of 18 and club ability of 30%, has a 73% chance to hit the gorilla, and the gorilla has a 32% chance to hit Hedric.</p>

      <ul>
        <li>Base formula: 2*(Attacker AG - Defender AG) + Attacker base to hit + attacker weapon ability + weapon odds - armor penalty - defender special defensive odds = to hit chance</li>
        <li>Joe Normal attacks Gorilla: 2*(12 - 11) + 25% + 20% = 47%</li>
        <li>Gorilla attacks Joe Normal: 2*(11 - 12) + 50% = 48%</li>
        <li>Hedric attacks Gorilla: 2*(18 - 11) + 25% + 30% = 69%</li>
        <li>Gorilla attacks Hedric: 2*(11 - 18) + 50% = 36%</li>
      </ul>

      <p>The above examples are a simple case, in which neither Joe nor Hedric is wearing armor, and their weapons have Weapon Odds of zero.</p>

      <p>For a more complete example, we need to account for Armor Penalty, Armor Expertise, and Weapon Odds. Let's say Hedric is wearing chain armor (Armor Penalty 20%) and has an Armor Expertise of 14% (for an effective Armor Penalty of 6%). He is using a club with a to-hit bonus (weapon odds) of 10%. His chance to hit is now 73%.</p>

      <ul>
        <li>Base formula: 2*(Attacker AG - Defender AG) + Attacker base to hit + attacker weapon ability + weapon odds - armor penalty - defender special defensive odds = to hit chance</li>
        <li>Hedric attacks Gorilla: 2*(18 - 11) + 25% + 30% + 10% - (20% - 14%) = 73%</li>
        <li>Gorilla attacks Hedric: 2*(11 - 18) + 50% = 36%</li>
      </ul>

      <p>Note that the gorilla still has the same chance to hit Hedric in this case. The defender's Armor Penalty, Weapon Abilities, and Weapon Odds do not affect the attacker's chance to hit.</p>

      <p>Because monsters with higher agility are harder to hit, they also give the player a better chance to increase weapon abilities. If you want to build your stats, leave the cave rats alone and find yourself a dragon or mighty warrior to fight!</p>

      <h4>Damage</h4>

      <p>The amount of damage a weapon does is determined by two factors: the weapon's damage &quot;dice&quot; and &quot;sides.&quot; In traditional RPGs, these would indicate the number and type of dice the player would roll to calculate the damage. For example, if your character's weapon has a damage rating of 2d8, you would roll two 8-sided dice and add the total. In Eamon, however, it's a computer that does the rolling. So, you may see unusual dice like d5 or d7, and this is perfectly normal.</p>

      <p>Once the initial damage is calculated, it is then adjusted based on the defender's armor class. So, if a player wearing chain mail is hit for 5 points of damage, the chain mail absorbs 2 points, leaving a final damage of 3 hit points. If the attack is weaker than the defender's armor class, Eamon will show a "blow bounces off armor!" message and the defender will take no damage at all.</p>

      <h3>Magic</h3>

      <p>The strange shifting forces around Planet Eamon constantly create effects that can only be described as magical. However, most of these effects are extremely localized to a particular adventure setting and will not be consistent from one foray to the next.</p>

      <p>Any character can pay a knowledgeable wizard to teach them these spells at a starting level. When they first learn a spell, they will start with an ability level ranging from 25% to 75%. For additional money, the wizard can teach the character more advanced techniques, improving their spell ability further.</p>

      <p>There are four common spells that work almost everywhere:</p>

      <h4>BLAST</h4>

      <p>This spell can be used by your character to send a magical blast of pure energy at either an opponent or an item (such as locked doors or chests). If successfully cast, a BLAST spell will always hit its target and do 2d5 in damage. Also, if the target is a living being, armor will not help absorb any of the damage from a BLAST spell.</p>

      <h4>HEAL</h4>

      <p>This spell can be used to remove damage points from either the character casting it or any other living creature (in effect, "healing" them). If successfully cast, a HEAL spell will restore 2d6 hit points to its target.</p>

      <p>To heal yourself, just type "HEAL" into the command prompt. To heal a friend, type "HEAL {name}", e.g. "HEAL EDDIE".</p>

      <h4>SPEED</h4>

      <p>If successfully cast, a SPEED spell will double your character's agility for a random amount of time (ranging from eleven to twenty turns). If a SPEED spell is cast successfully while another one is already in effect, the new spell will increase the amount of rounds left, but it will not have the effect of further multiplying a character's agility. The SPEED spell is most useful when a character is engaged in combat with a skilled opponent, has a long paper to write within a short amount of time, or needs to study for an exam.</p>

      <h4>POWER</h4>

      <p>POWER is a unique and unpredictable spell, influenced greatly by the shifting forces of the world of Eamon. It's basically a call to the magical forces around your character that says, &quot;Hey, do something!&quot;</p>

      <p>Depending upon the adventure your character is on, successfully casting POWER may cause a harmless diversion or have powerful effects (both helpful and harmful in nature). In some adventures, Power will do little more than make a loud noise, while in others it may be the key to surviving or moving on to different points in the game. If you become totally stuck (or just feel daring), give POWER a try.</p>

      <h4>Spell Abilities</h4>

      <p>As with combat abilities, there is a chance that each spell ability can be increased every time your character successfully casts that spell; if a 1D100 dice roll is less than the chance of failure, their ability will increase by 2% until they reach the 100% natural limit.</p>

      <p>For example: Hedric has now learned the BLAST spell and has a starting ability of 30%. If he successfully casts the spell, and a 1D100 roll yields a result from one to seventy, his overall ability for that spell will increase by 2% to 32%. The next time he successfully casts the spell, he would have a 68% chance to increase his skill.</p>

      <p>Due to the tiring effects of sending supernatural powers through their body, every time your character attempts to cast a spell (regardless of whether or not they succeed) their next chance is reduced by half. The player may recover their spell ability by &quot;resting up&quot; their brain for a bit; during each turn when the player doesn't try to cast a spell (walking around, picking up loot, etc.), their spell abilities recover slightly.</p>

      <h4>Additional Factors</h4>

      <p>There are also "wildcard" rolls involved in spell casting. For each attempt to cast the spell, there is always a 5% chance of success and a 5% chance of failure. Also, there is a 1% chance that the spell casting will overload your character's mind, causing them to be unable to cast that spell for the rest of the adventure.</p>

      <p>Note that this is the way that the four common spells usually work. Eamon is a marvelous and very random world, with lots of strange local magics. In some adventures, the standard spells may work differently or not at all. In others, spell abilities may recover faster or slower.</p>

      <h4>Special Spells</h4>

      <p>Due to the chaotic nature of the world of Eamon, some adventures may have additional spells available. Look for magic inscriptions or spell books to learn these. Unlike the standard spells, these will not work in any other adventure besides the one where they're found!</p>

    </div>
  </div>
</div>
{% endblock %}
