{% extends "base.html" %}
{% load static %}

{% block title %}Privacy Policy{% endblock %}

{% block canonical_url %}https://eamon-remastered.com/privacy.html{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="parchment">
    <div class="parchment-inner">
      <h2><img src="{% static "images/ravenmore/128/shield.png" %}"> Privacy Policy</h2>
      <p>This Privacy Policy explains how information about you is collected and used by Eamon Remastered when you access the game's website, eamon-remastered.com ("Site").</p>
      <h3>Collection of Information</h3>
      <p>Eamon Remastered collects the following information during use of the Site:</p>
      <p><strong>Analytics information:</strong> Eamon Remastered may log information about your use of the Site, including the type of browser you use, access times, pages viewed, and the page you visited before navigating to its websites. Eamon Remastered collects an anonymized version of your IP address.</p>
      <p><strong>Game Log information:</strong> Eamon Remastered logs general statistical information about the game play. This includes, but is not limited to, the following: loading and saving characters, number of adventures played, and game achievements such as the number of secret doors found during game play.</p>
      <p><strong>Social Login ID:</strong> When you use the "Login with Facebook" feature, Eamon Remastered collects a Social Login ID provided by Facebook. Eamon Remastered uses the Social Login ID to identify you across different browsers and computers. This allows you to play with the same characters on all devices. If you do not wish to allow Eamon Remastered to store your Social Login ID, do not use the "Login with Facebook" feature. Other features of the site will still function.</p>
      <h3>Use of Information</h3>
      <p>Eamon Remastered may use the information collected for several purposes, including the following:</p>
      <ul>
        <li>Maintaining and improving the Site</li>
        <li>Viewing aggregate traffic and referral trends</li>
        <li>Identifying your computer and browser to allow you to use the same characters across multiple sessions.</li>
      </ul>
      <p>Eamon Remastered is based in the United States, and the data is stored on servers located in the U.S. The information we collect is governed by U.S. law. By accessing or using the Site or otherwise providing information to us, you consent to the processing and transfer of information in and to the U.S.</p>
      <p>Eamon Remastered does not host any advertising and does not share your information with any third parties, except for analytics purposes and as required by law.</p>
      <h3>Tracking &amp; Cookies Data</h3>
      <p>Eamon Remastered uses a third party service to collect analytics data. This data is used to generate aggregate reports about the use of the Site. The analytics service may place tracking cookies and similar technologies to track the activity on the Site.</p>
      <p>Eamon Remastered stores a UUID identifier in your browser's Local Storage feature. This is used to &quot;remember&quot; your characters when you return to the site in a later session. This feature is integral to the functioning of the Site. If you do not wish to allow this data to be set in your browser, you must discontinue use of the Site.</p>
      <p>Last Updated May 22, 2018.</p>
    </div>
  </div>
</div>

{% endblock %}
