{% extends "base.html" %}
{% load static %}

{% block title %}News{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="parchment">
    <div class="parchment-inner">
      <h2><img src="{% static "images/ravenmore/128/scroll.png" %}" alt="Scroll" /> News</h2>
      <div class="row">
        {% for a in articles %}
        <div class="news-list-item col-sm-12">
          <h3>{{ a.title }}</h3>
          <p class="date">{{ a.created_at }}</p>
          <p class="desc">{{ a.body | safe }}</p>
        </div>
        {% endfor %}
      </div>

      {% if articles.has_other_pages %}
        <ul class="pagination">
          {% if articles.has_previous %}
            <li class="btn"><a href="/news/?page={{ articles.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="btn disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in articles.paginator.page_range %}
            {% if articles.number == i %}
              <li class="btn active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li class="btn"><a href="/news/?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if articles.has_next %}
            <li class="btn"><a href="/news/?page={{ articles.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="btn disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
